
body {
    background-image: url('Background_pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    width: 900px;
    margin: auto;
    border: 3px solid #73AD21;
    font-size: x-large;
    
  }
  .paulohead {
    color: mediumblue;
}
.img-chia {
        padding: 1px;
        border: 2px solid blue;       
        
}
.topics {
    display: flex;
    align-items: stretch;
}

#subTopics{
    display: flex;
    align-items: stretch;
}

#subTopics > section {
    flex-grow: 1;
    border: 1px solid green;
    text-align: center;
    background: rgb(193, 193, 219);
    color: white;
}
#animate{
    width: 900px;
    height: 100px;
    background-color:blue;
    animation-name: img-chia;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes img-chia{
    from {background-color: burlywood;
    to {background-color: yellow;  
  }

